.DS_Store

# fastlane specific
**/fastlane/report.xml

# deliver temporary files
**/fastlane/Preview.html

# snapshot generated screenshots
**/fastlane/screenshots

# scan temporary files
**/fastlane/test_output

# IPA files
*.ipa

# Service account
gc_keys.json

# match output
match

# generated fastlane readme
fastlane/README.md

# ruby gems
vendor

# Gemfile.lock since it's arm only for some reason
Gemfile.lock

# .env
.env